@import url('https://fonts.googleapis.com/css2?family=Sora:wght@500&display=swap');

:root {
    --primary-white: #fff;
    --primary-orange: #f9ab00;
    --primary-dark: rgba(255, 255, 255, 0);
}
*{
    font-family: 'Sora', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/******************* NavBAr ******************/
.logo{
    width: 3.5rem;
}

/******************* Menu Links ******************/
nav a.nav-link{
    letter-spacing: 0.0280rem;
    cursor: pointer;
}

.navbar-nav > li > a {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
    color: var(--primary-white)!important;
}
.navbar-brand{
    max-width: 17.25rem;
    padding: 0 !important; 
    height: 4rem !important;
}
.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus{
    border-top: 0.1875rem solid var(--primary-orange);
}

.navbar-nav > li > a:hover{
    border-top: 0.1875rem solid var(--primary-orange);
}